.buttonWrapper {
  text-align:center;
}

.submitButton {
    background-color: rgb(182, 121, 42);
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.submitButton:hover {
    cursor: pointer;
    background-color: rgb(138, 88, 23) ;
}

.form-group {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 5px;
  padding-bottom: 10px;
}

.form-group label {
  text-align: right;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: bold;
}

input, select, ngb-rating {
  padding: .5rem;
  box-sizing: border-box;
  width: 75%;
}

  li {
    text-decoration: none;
    display: block;
    width: 150px;
    text-align: center;
    float: left;
    padding-right: 20px;
  }

  .Action, .Autobiography, 
  .Fantasy, .Fiction, .History, .Sci-Fi, .Non-Fiction {
    display: block;
    text-shadow: 2px 2px black;
    min-height: 180px;
  }

  .Action {
    background-color: red;
  }

  .Autobiography {
    background-color: blue;
  }

  .Fantasy {
    background-color: pink;
  }

  .Fiction {
    background-image: url('../../assets/images/fiction.png');
  }

  .Sci-Fi {
    background-color: purple;
  }

  .Horror {
    background-color: black;
  }

  li > p {
    margin: 0;
  }

  .book-title {
    padding-top: 10px;
    font-size: 2rem;
  }

  .book-author {
    font-size: 1.5rem;
  }

  ngb-rating {
    margin-left: auto;
    margin-right: auto;
  }

  .notfilled {
    font-size: 60px;
  }

  .filled {
    color: #ffc107;
    font-size: 60px;
  }
